<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todos</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    
    <div id="app">
        <h2>{{title}}</h2> 
        <!-- 带有修饰符的事件绑定 -->
        <input type="text" v-model="title">
        <ul>
            <li v-for="(todo,index) in todos" :key="index" @keydown.enter="addTodo">{{todo}}</li>
        </ul>
    </div>
    <script>
    const app = Vue.createApp({
        methods: {
            addTodo(){
                console.log('按下了enter');
            }
        },
        data() {
            return {
                title:'wdad',
                todos:[
                    "脱单",
                    "去名企"
                ]
            }
        }
    })
    app.mount('#app');
    </script>
</body>
</html>